<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body style="align-content: center" >
    <div >
        <span> 登录相关 </span>
        <br>
        <span> /users/register (注册) </span>
        <br>
        <span> params : phone , password (string 类型)</span>
        <br>
        <span> /users/verifyRegister (验证注册验证码) </span>
        <br>
        <span> params : phone , password,register (string 类型)</span>
        <br>
        <span> /users/login (登录) </span>
        <br>
        <span> params : phone , password (string 类型)</span>
        <br>

    </div>

</body>
</html>