<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

    <title>test web view</title>
</head>
<body>


<!--<div>-->
    <!--<input type="button" value="扫一扫" onclick="scanClick()" />-->
    <!--<br>-->
    <!--<input type="button" value="获取定位" onclick="locationClick()" />-->
    <!--<br>-->
    <!--<input type="button" value="修改背景色" onclick="colorClick()" />-->
    <!--<br>-->
    <!--<input type="button" value="分享" onclick="shareClick()" />-->
    <!--<br>-->
    <!--<input type="button" value="支付" onclick="payClick()" />-->
    <!--<br>-->
    <!--<input type="button" value="摇一摇" onclick="shake()" />-->
    <!--<br>-->
    <!--<input type="button" value="返回" onclick="goBack()" />-->
    <!---->
    <!--<br>-->

<!--</div>-->

<div class="box">
    <div class="box1">
        <button onclick="agreeContract()">同意合约</button>
    </div>
    <div class="box2">
        <button onclick="refuseContract()">拒绝合约</button>

    </div>
</div>

<div style="height: 100px">

</div>

<div class="box">
    <button onclick="cancleContract()"> 取消合约 </button>
</div>

<p id="demo"></p>

<script>

    function agreeContract() {

        window.webkit.messageHandlers.starRefusedContractBtnClick.postMessage({"task_id":"123456"});
    }

    function refuseContract() {

        window.webkit.messageHandlers.starAgreedContractBtnClick.postMessage({"task_id":"123456"});
    }


    function cancleContract() {

        window.webkit.messageHandlers.shopCancelContractBtnClick.postMessage({"task_id":"123456"});
    }

    function loadURL(url) {
        var iFrame;
        iFrame = document.createElement("iframe");
        iFrame.setAttribute("src", url);
        iFrame.setAttribute("style", "display:none;");
        iFrame.setAttribute("height", "0px");
        iFrame.setAttribute("width", "0px");
        iFrame.setAttribute("frameborder", "0");
        document.body.appendChild(iFrame);
        // 发起请求后这个iFrame就没用了，所以把它从dom上移除掉
        iFrame.parentNode.removeChild(iFrame);
        iFrame = null;
    }

    function clickk() {
        alert("xs")
    }

    function whatFuck() {
        console.log("fyck")
    }

    function colorClick() {
        window.webkit.messageHandlers.share.postMessage({title:"1234"});
    }


    function payResult() {

        window.webkit.messageHandlers.gotoBecomeRedWithUrl.postMessage({url:"muxinglive://MXStarApprove/starapprove"});
    }

    function goback() {
        window.webkit.messageHandlers.leftbackButtonTap.postMessage(null);
    }



    function setupWebViewJavascriptBridge(callback) {
        if (window.WebViewJavascriptBridge) { return callback(WebViewJavascriptBridge); }
        if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }
        window.WVJBCallbacks = [callback];
        var WVJBIframe = document.createElement('iframe');
        WVJBIframe.style.display = 'none';
        WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
        document.documentElement.appendChild(WVJBIframe);
        setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0)
    }

    setupWebViewJavascriptBridge(function(bridge) {
        bridge.registerHandler('testJSFunction', function(data, responseCallback) {
            alert('JS方法被调用:'+data);
            responseCallback('js执行过了');
        })
    });

    function shareClick() {
        var params = {'title':'测试分享的标题','content':'测试分享的内容','url':'http://www.baidu.com'};
        WebViewJavascriptBridge.callHandler('shareClick',params,function(response) {
            alert(response);

        });
    }

    function payClick() {
        payResult()
    }

</script>

</body>



</html>

